<main>
    <h2>Tous nos produits </h2>
    <p>Nous pouvons vous proposer:</p>
 
    <% datas.forEach(data => { %>
        <article class="card">
            <h3><%= data.title %></h3>
            <img src="<%= data.url_img %>" alt="<%= data.title %>">
            <p>Dans la catégorie : <%= data.category %></p>
            <a href="/shop/<%= data.id%>">Plus d'infos ici</a>
        </article>
    <% }) %>

</main>